## Homework 1

### Q1. Pandas Version

In [153]:
import pandas as pd
import numpy as np

In [154]:
pd.__version__

'2.2.3'

### Q2. Records Count

How many records are in the dataset?

In [155]:
data = pd.read_csv('homework_1/car_fuel_efficiency.csv')

In [156]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [160]:
print('There are ', data.shape[0], ' records')

There are  9704  records

### Q3. Fuel Types
How many fuel types are presented in the dataset?

In [161]:
data['fuel_type'].nunique()

2

### Q4. Missing Values
How many columns in the dataset have missing values?

In [162]:
na_cols = data.loc[:,data.isnull().sum() > 0].columns
print('there are ', na_cols.size, 'columns with missing values:', na_cols.values)

there are  4 columns with missing values: ['num_cylinders' 'horsepower' 'acceleration' 'num_doors']

### Q5. Max Fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [163]:
max_fuel_efficiency = data.groupby('origin').fuel_efficiency_mpg.max()
max_fuel_efficiency_asia = max_fuel_efficiency.loc['Asia'].round(2)
print("The max fuel efficiency in cars from Asia is:", max_fuel_efficiency_asia)

The max fuel efficiency in cars from Asia is: 23.76

### Q6. Median value of horsepower
1. Find the median value of horsepower column in the dataset
2. Next, calculate the most frequent value of hte same horsepower column
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step
4. Now, calculate the median value of horsepower again

In [164]:
median_horsepower = data['horsepower'].median()
most_frequent_horsepower = data['horsepower'].mode()[0]
data2 = data.copy()
data2['horsepower'] = data2['horsepower'].fillna(most_frequent_horsepower)
new_median = data2['horsepower'].median()

print('The old median was ', median_horsepower, ', the most frequent value was ', most_frequent_horsepower, ', and the new median after replacing NAs with the most frequent value is ', new_median)

The old median was  149.0 , the most frequent value was  152.0 , and the new median after replacing NAs with the most frequent value is  152.0

### Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weigh and model_year
3. Select the first 7 values
4. Get the underlying numpy array. Let's call it X
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX
6. Invert XTX
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200]
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
9. What is the sum of all the elements of the result?

In [177]:
#1
data_asia = data[data['origin'] == 'Asia']
#2
data_asia = data_asia[['vehicle_weight', 'model_year']]
#3
data_asia = data_asia.head(n = 7)
#4
X = data_asia[['vehicle_weight','model_year']].values
#5
XTX = X.T.dot(X)
#6
XTX_inv = np.linalg.inv(XTX)
#7
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
#8
w = XTX_inv.dot(X.T).dot(y)
#9
print(w.sum())

0.5187709081073995